{{#if success}}
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
{{/if}}

{{#if warning}}
  <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
{{/if}}

{{#if error}}
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
{{/if}}
