{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'game_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'game_meta_desc'}}">
{{/push}}


<div class="row mtxl">

  <div class="col-xs-12 col-sm-3 hidden-xs">
    {{> 'settings_nav'}}
  </div>

  <div class="col-xs-12 col-sm-9">
  </div>

</div>
