<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  {{#pop "title"}}{{/pop}}
  {{> 'mail_style'}}
  {{#pop "styles"}}{{/pop}}
</head>
<body style="font-size:14px;line-height:19px;text-align:left;font-weight:normal;font-family:Helvetica, Arial, sans-serif;color:#222222;padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;min-width:100%;width:100% !important;background:#f7f5f1;" class="eoa_8dx">

  <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <table class="row header">
              <tr>
                <td class="wrapper last center" align="center">
                  <center>
                  <table class="five columns">
                    <tr>
                      <td class="seven">

                        <table class="">
                          <tr>
                            <td class="">
                              <a href="http://www.uralys.com">
                                <img src="http://www.uralys.com/public/images/logo.png" width="230" height="47" style="display:block"  border="0">
                              </a>
                            </td>
                          </tr>
                        </table>

                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>
                  </center>
                </td>
              </tr>
            </table>
          <br>

          <table class="container">
            <tr>
              <td>
                {{{body}}}
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>
