.auth-register-form,.auth-login-form {
  margin-top: 60px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;

  .from-group-username {
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .checkbox {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .has-error {
   .checkbox {
      a {
        color: $state-danger-text;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 20px;
  }
  .auth-social,.alerts {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    li {
      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
      }
      &:last-child {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 0;
        }
      }
    }
  }
}

