<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_company'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_support'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_game'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_connect'}}</h2>
    <nav class='footer-nav'>
      {{> 'footer_social'}}
    </nav>
  </div>
</div>
