<div class="row mbm">
  <div class="col-xs-4 col-sm-8">
    <a href='/' alt="{{i18n 'brand'}}" title='{{i18n 'header_nav_home'}} {{i18n 'brand'}}'>
      <img src='/images/logos/logo.png' alt='__Brand__' class="img-responsive"/>
    </a>
  </div>
</div>

<p class="copyright">
@ 2014 {{i18n 'brand'}}
</p>
