<footer class='site-footer'>

  <div class="site-footer-top">
    <div class='container'>
      <div class="row">
        <div class="col-xs-12 col-sm-3 mbm">
          {{> 'footer_logo'}}
        </div>
        <div class="col-xs-12 col-sm-9">
          {{> 'footer_nav'}}
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer-bottom">
    <div class='container'>
      <div class="row">
        <div class="col-xs-12 col-sm-12 text-right">
          {{> 'footer_locales'}}
        </div>
      </div>
    </div>
  </div>

  </div>
</footer>
