<div class="navbar-btn navbar-right tac">
  <span class="btn-group">
    <a href="{{route 'auth.register' lang=locale}}" class="btn btn-default" id="header-register">{{i18n 'ui_register'}}</a>
    <a href="{{route 'auth.login' lang=locale}}" class="btn btn-default" id="header-signin">{{i18n 'ui_signin'}}</a>
  </span>
</div>
