<div class="list-group">
  <a href="{{route 'userSettings.profile' lang=locale}}" class="list-group-item {{#if isProfile}}active{{/if}}">
    {{{i18n 'profile'}}}
  </a>
  <a href="{{route 'userSettings.account' lang=locale}}" class="list-group-item {{#if isAccount}}active{{/if}}">{{{i18n 'account'}}}</a>
</div>
