$green-lighter: #13a9a4;
$green-light: #0e7b78;
$green: #0d6161;
$green-dark: #0b6462;

$orange-lighter: #ffd558;
$orange-light: #ffcc25;
$orange: #febd1b;
$orange-dark: #ffb413;

$blue-lighter: #22596b;
$blue-light: #163844;
$blue: #0f262e;
$blue-dark: #0f282f;

